{% extends 'base/autos.html' %}

{% block content %}

<!--MIS AUTOS-->
    <div class="container mt-5">
      <div class="d-flex justify-content-between align-items-center mb-3">
        <h3 class="mx-auto text-center font-weight-bold">
          Mis Autos
        </h3>
        <button
          class="btn btn-primary"
          onclick="window.location.href = '{% url 'registrarAuto' %}'               
          "
          style="background-color:#A62D43; border-color:#A62D43"
        >
          Registrar auto
        </button>
      </div>

      <div class="card shadow mt-5 mx-auto w-80">
        <div class="row g-0">
          <div class="col-md-4">
            <img
              src="https://cdn.pixabay.com/photo/2015/10/01/17/17/car-967387_1280.png"
              class="img-fluid rounded-start"
              alt="..."
            />
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-text mt-2">Año:</h5>
              <h5 class="card-text mt-4">Marca:</h5>
              <h5 class="card-text mt-4">Modelo:</h5>
              <h5 class="card-text mt-4">Placa:</h5>
            </div>
          </div>
        </div>
      </div>
    </div>

      
   


{% endblock %}