{% extends 'base/inicio.html' %}

{% load static %}

{% block content %}

<div class="jumbotron">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-md-6">
        <div class="row align-items-center">
          <div class="col-md-3">
            <img src="" alt="" class="img-fluid">
          </div>
          <div class="col-md-9">
            <h1 class="display-4">¡Bienvenido!</h1>
            <p class="lead">Gracias por visitar nuestra página.</p>
            <hr class="my-4">
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="card">
          <div class="card-header text-center">
            <h3>Registro</h3>
          </div>
          <div class="card-body">
            <form method="post">
              {% csrf_token %}
              <div class="form-group">
                {{ form.user.label_tag }}
                {{ form.user }}
              </div>
              <div class="form-group">
                {{ form.password.label_tag }}
                <div class="input-group">
                  {{ form.password }}
                  <div class="input-group-append">
                    <button type="button" class="btn btn-secondary" onclick="togglePasswordVisibility(this)">
                      Mostrar Contraseña
                    </button>
                  </div>
                </div>
              </div>
              <div class="form-group">
                {{ form.name.label_tag }}
                {{ form.name }}
              </div>
              <div class="form-group">
                {{ form.last_name.label_tag }}
                {{ form.last_name }}
              </div>
              <div class="form-group">
                {{ form.cellphone.label_tag }}
                {{ form.cellphone }}
              </div>
              <div class="form-group">
                {{ form.ci.label_tag }}
                {{ form.ci }}
              </div>
              <div class="form-group">
                {{ form.direction.label_tag }}
                {{ form.direction }}
              </div>
              <div class="form-group">
                {{ form.email.label_tag }}
                {{ form.email }}
              </div>
              <div class="row justify-content-center">
                <div class="col-md-auto mb-3">
                  <button type="submit" class="btn btn-primary" style="background-color:#A62D43; border-color:#A62D43;">
                    Registrarse
                  </button>
                </div>
                <div class="col-md-auto mb-3">
                  <button type="button" class="btn btn-primary" onclick="window.location.href = '{% url 'login' %}'" style="background-color:#2C2F40; border-color:#2C2F40; color: white;">
                    Cancelar
                  </button>
                </div>
              </div>
            </form>
            <div>{{ error }}</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  function togglePasswordVisibility(button) {
    var passwordField = document.getElementById("id_password");

    // Comprobar si el campo de contraseña es visible o no
    var isPasswordVisible = (passwordField.type === "text");

    // Cambiar el tipo de campo de contraseña
    passwordField.type = isPasswordVisible ? "password" : "text";

    // Cambiar el texto del botón
    button.textContent = isPasswordVisible ? "Mostrar Contraseña" : "Ocultar Contraseña";
  }
</script>

{% endblock %}
